

body {
    padding-top: 150px;
    background: #283048; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ol {
  list-style-position: inside;
}

a:link {
    color: hotpink;
    
}

a:hover {
    color: pink;
}

a {
    color: hotpink;
}

strong {
    color: #ffffcc;
}

h4 {
  text-align: center;
  color: #a6a6a6;
}

p {
  color: white;
  font-family: "Helvetica" sans-serif;
  font-size: 18pt;
  margin: 40px;
}

h3 {
  color: white;
  padding: 80px;
  text-align: center;
}

.jumbotron h1{
  text-align: center;
  font-family: "Calibri", serif;
  font-weight: bold;
  color: white;
}

.jumbotron h2{
  text-align: center;
  font-family: "Calibri", serif;
  color: #a6a6a6;
  font-size: 16pt;
}

.jumbotron {
  background: rgba(60,51,153,0.4);
  margin-bottom: 80px;
  padding: 10px;
  border-radius: 25px !important;
}

.navbar-right {
  text-align: center;
  color: #006600;
  font-size: 12pt;
  font-family: "Calibri", serif;
  padding-top: 15px;
}

.navbar-left {
  padding-top: 10px;
  font-size: 16pt;
  font-family: "Calibri", serif;
}

.navbar.transparent.navbar-inverse {
  background: rgba(0,0,0,0.6);
}

.img-circle {
  float: left;
  margin: 10px 10px 10px 10px;
 
}

.goals {
  color: inherit;
  font-size: 18pt;
  padding: 40px;
  color: white;
}

.bodytext {
  border: 6px;
  background: rgba(60,51,153,0.4);
  border-radius: 25px;
}

text
{
    font-family: Calibri;
}

/*This group of breaks will make my photo look nice on various viewports
------------------------------------------------------------------------
*/

@media (min-width:500px) {
  .img-circle {
    width: 360px;
    padding: 30px;
    margin: 30px;
  }
}

@media (max-width:499px) {
  .img-circle {
    width: 240px;
    padding: 10px;
    margin: 10px;
  }
}

/*This group of breaks will make the text itself look nice on various viewports
------------------------------------------------------------------------
*/

@media (min-width:500px) {
  .bodytext {
    margin: 40px;
    padding: 20px;
  }
}

@media (max-width:499px) {
  .bodytext {
    margin: 0px;
    padding: 0px;
  }
  .bodytext p {
    font-size: 12pt;
  }
  .goals {
    font-size: 14pt;
  }
}
